@font-face {
    font-family: 'Sniglet-ExtraBold'; /* Specify the desired font family name */
    src: url('fonts/Sniglet-ExtraBold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'Sniglet-Regular'; /* Specify the desired font family name */
    src: url('fonts/Sniglet-Regular.ttf')  format('truetype');
    font-weight: normal;
}
@font-face{
    font-family: 'LeagueSpartan'; /* Specify the desired  font family name */
    src: url('fonts/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
    font-weight: bold;
}
h1{
    font-family: Sniglet-ExtraBold;
    font-weight: bold;
    /** font-size: 7rem; **/
    font-size: clamp(2rem, 7.5vw + 10px, 40px); /** responsive font clamp(min, current, upper)**/
}
/* ARC Text Start */
    /* Arc text styles */
    h1 .arc-text{
        padding-top: 10px;
        font-size: 30px; /* Adjust the font size as needed */
        position: relative; /* Position the spans relative to the container */
        display: inline-block;
        transform-origin: 20% 20%; /* Set the transform origin to the center */
    }
    /* Individual character styles */
    .arc-text span:hover{
        display: inline-block; /* Display each character on a new line */
        transform: translateY(-20%) rotate(var(--angle, 40deg)); /* Rotate each character */
        transition: transform 0.2s ease-in-out; /* Add a smooth transition */
        cursor: none;
    }
/* ARC Text End */
h3{
    font-family: LeagueSpartan;
    font-weight: normal;
}
h3 .sm{
    font-size: 0.6em; /* 60% of the size of the surrounding text */
    position: relative; /* set relative to the surrounding text*/
    top: -0.5em; /* Adjust the top position to move it above the text */
}
h5{
    font-family: Sniglet-Regular;
    font-weight: bold;
    font-size: clamp(10px, 2.5vw + 10px, 20px); /** responsive font clamp(min, current, upper)**/
}
body{
    background-color: #AFCCEB;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional, keeps the background fixed while scrolling*/
    background-image: url('Assets/JPG/PaperTextureOverlay.jpg'), linear-gradient(#eee0, #867DBB); /* ,url('../Assets/PNG/Cloud1.png'); */
    background-blend-mode: multiply;
    /*font-family: sans-serif; /*  'Sniglet-ExtraBold',/* Default font */
    font-family: Sniglet-Regular;
    font-weight: normal;
    overflow-x: hidden;
    /*cursor: url('Assets/PNG/Flower.png'), pointer, auto;*/
}
.img-thumbnail-custom{
    padding: .10rem;
    /*border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);  */
    max-width: 85%; /* Makes the image responsive */
    height: auto;
    transition: transform 0.2s ease; /* Add a smooth transition for the transform property */
}
/* Navigation Start */
.navbar-brand img{
    max-width: 15rem;
    height: auto; /* Maintain aspect ratio */
}
/** Modifying css to align navbar button to space evenly **/
/*navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
**/ 
navbar, .container{
    justify-content: space-around!important; /* Change this line from space-between */ 
} 
.navbar-nav{
    align-items: center; /** Align the small screen menu to center **/
    flex-direction: row;
    justify-content: space-evenly;
}
/* Nav Animation Start */
ul li a{
  position:relative;
}

ul:hover li a{
  opacity:80%;
  filter:blur(1px);
  text-transform:uppercase;
}

ul li a:hover{
  transform:scale(1.25);
  opacity:100%;
  filter:blur(0px);
  text-decoration:none;
  color:#E1555E!important;
}

ul li a:before{
  content:'';
  position:absolute;
  transition:0.5s;
  transform-origin:center;
  transform:scaleX(0);
  z-index:0;
}

ul li a:hover:before{
  transition:transform 0.5s;
  transform-origin:center;
  transform:scaleX(1);
}
/* Nav Animation End */
/* Navigation End*/
/** ------------------------------ **/
.text-shadow{
    text-shadow: -2px 2px #0000004f;
}
/** Gradient Start **/
.gradient-custom {
    /* fallback for old browsers */
    background: #a18cd1;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
      45deg,
      rgba(29, 236, 197, 0.6),
      rgba(91, 14, 214, 0.6) 100%
    );

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
      45deg,
      rgba(29, 236, 197, 0.6),
      rgba(91, 14, 214, 0.6) 100%
    );
}
/** /** Gradient End **/
/** Footer Icon Start **/
.btn-outline-light:hover {
    color: rgb(172, 172, 172);
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0, 0, 0, 0.9);
}
/** Footer Icon End **/
/** navbar button Start **/
/* Initial background image */
.navbar-toggler{
background-image: url('../SocialIcons/PNG/Icon3.png');
background-size: cover;
background-blend-mode: multiply;
    opacity: 50%;
}
.navbar-toggler-icon{
    opacity: 50%;
}
/** navbar button End ** /

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;
    max-width: 100%;
    height: auto;
    z-index: 0;
}
/** ----------------- **/

/** zindex** /
.layered-background {
  /* Set the size and position of the container * /
  width: 100%;
  height: 500px;
  position: relative;
}

.layered-background::before,
.layered-background::after {
  /* Define the background images for the layers * /
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First background layer * /
.layered-background::before {
  background-image: url('/Assets/PNG/Cloud1.png');
  z-index: 1; /* Set the stacking order for this layer * /
max-width: 10.5rem;
    height: 7rem;
}

/* Second background layer * /
.layered-background::after {
  background-image: url('/Assets/PNG/Friend%201.png');
  z-index: 2; /* Set the stacking order for this layer * /
max-width: 10.5rem;
    height: 7rem;
}
*/
/* effect-shine */
.effect-shine {
  -webkit-mask-image: linear-gradient(-175deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 10s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 100%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}
/* effect-shine End*/
/* ball  bounce Start */
.animated-element {
    position: absolute;
    top: 50%; /* Adjust the vertical position as needed */
    left: 50%; /* Adjust the horizontal position as needed */
    transform: translate(-50%, -50%);
    width: 100px; /* Adjust the size as needed */
    height: 100px;
    background-color: #ff0000; /* Red background color (example) */
    border-radius: 50%; /* Make it a circle (example) */
    animation: bounce 2s ease-in-out infinite; /* Add an animation (example) */
    z-index: 50; /* Ensure it's behind the text but in front of the background */
}
/* ball  bounce End */

::selection{
    background-color: #867DBB;
}
/* Paralax images Start */
header{
    position: relative;
    z-index: 9999;
}

.parallax{
    pointer-events: none;
    transform: translate(-50%,-50%); /* dont modify */
    width: 100%;
    position: absolute;
}
.bg-Cloud1{
    position: absolute;
    z-index: 1;
    width: 15%;
    top: calc(50% - 10%); /* px /810(window height)*100 %*/
    left: calc(50% + 30%);
    opacity: 50%;
}
.bg-Cloud2{
    position: absolute;
    z-index: 2;
    width: 16%;
    top: calc(50% - 15%);
    left: calc(50% - 20%);
    opacity: 40%;
}
.bg-Cloud3{
    position: absolute;
    z-index: 3;
    width: 20%;
    top: calc(50% - 20%);
    left: calc(50% - 50%);
    opacity: 60%;
}
.bg-Cloud4{
    position: absolute;
    z-index: 4;
    width: 20%;
    top: calc(50% - 40%);
    left: calc(50% + 5%);
    opacity: 50%;
}
.bg-Cloud5{
    position: absolute;
    z-index: 6;
    width: 30%;
    top: calc(50% + 20%);
    left: calc(50% + 5%);
    opacity: 30%;
}
.bg-Cloud6{
    position: absolute;
    z-index: 7;
    width: 20%;
    top: calc(50% - 20%);
    left: calc(50% + 52%);
    opacity: 50%;
}
.texts{
position: absolute;
z-index: 10;
}
/* Paralax images End */
